html,body,#app{
  height:100%;
  margin:0;
  padding:0
}
.app-container {
  background-color: rgb(241,168,182);
  border: 5px solid rgb(241,135,149);
  font-family: 'Mukta', sans-serif;
  height: calc(100% - 10px);
}
/* header */
.header-container {
  display: flex;
  flex-direction: row;
  height: 75px;
}
.header-container-left {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  /* padding: 0px 15px 0px 15px; */
  font-size: 18px;
  font-weight: bolder;
  color: white;
}
.header-container-right {
  display: flex;
  flex-direction: right;
  color: white;
  font-weight: bolder;
  height: 75px;
  width: 100%;
  padding: 0px 45px 0px 0px;
  font-size: 18px;
  flex-direction: row-reverse;
}
.header-logo {
  width: 175px;
  height: 75px;
  line-height: 75px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.header-logo:hover {
  cursor: pointer;
  background-color: rgb(241,135,149);
}
.header-button {
  width: 115px;
  height: 75px;
  line-height: 75px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.header-button:hover {
  cursor: pointer;
  background-color: rgb(241,135,149);
}
.header-shopnow-button {
  width: 125px;
  height: 30px;
  line-height: 30px;
  border-radius: 25px;
  border: 3px solid white;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  color: rgb(241,168,182);
}
.header-shopnow-button:hover {
  cursor: pointer;
  color: rgb(241,135,149);
  font-size: 22px;
}
/* carousel */
.IcecreamCarousel {
  display: flex;
  height: calc(100% - 225px);
  width: calc(100% - 250px);
  padding: 75px 125px 75px 125px;
}
.icecream-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 650px;
  /* padding: 75px 0px 75px 125px; */
  color: white;
  background-color: rgb(241,168,182);
}
.icecream-name {
  display: flex;
  font-size: 90px;
  font-weight: bolder;
  line-height: 1em;
  height: 1em;
  width: 500px;
  text-transform: uppercase;
  padding: 0px 50px 0px 0px;
}
.icecream-dash {
  display: flex;
  font-size: 90px;
  font-weight: bolder;
  line-height: 1em;
  height: 1em;
  /* text-align: center; */
  width: 500px;
  text-transform: uppercase;
  padding: 15px 0px 25px 0px
}
.icecream-info {
  display: flex;
  font-size: 25px;
  line-height: 1em;
  width: 500px;
  padding: 0px 50px 0px 0px;
}
.icecream-learn-more {
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  border: 3px solid white;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.icecream-learn-more:hover {
  cursor: pointer;
  background-color: rgb(241,135,149);
}